// all page
body {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px ;
	background: $color-primary-background;
	color: $color-primary-text;
}
 ul, li, body, p{
	 margin: 0;
	 padding: 0;
	 border: 0;
 }
 li{
	 list-style: none;
 }

.FS18B {
	font-family: $body_font, sans-serif;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 line-height: 1.5;
}

.FS18R{
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5
}

.FS16B {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
}

.FS16R {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}
.FS14B {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
}
.FS14R {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
}
.FS12B {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.5;
}
.FS12R {
	font-family: $body_font, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
}
