.header-nav-main {
  position: relative;
  .dropdown-inner {
    position: absolute;
    background: $color-background-dropdown;
    top: 54px;
    padding: 5px 0;
    box-shadow: 0 6px 12px #0000002e;
    width: max-content;
    li {
      padding: 6px 15px;
      &:hover {
        background: $color-background-header;
      }
    }
  }
  .dropdown-nav {
    display: none;
  }
  .dropdown-category {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    //display: grid;
  }
  .dropdown-custom-display {
    display: none;
    .setting-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .setting-label{
      padding: 0 15px;
    }
    .setting-select {
      width: 150px;
      select {
        background: $color-white;
        color: $color-black;
      }
    }
    .radio-inline {
      display: inline-flex;
      align-items: center;
      input {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
